* {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: "Lato", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
    url(images/0A7A0FD8-9984-43F0-BE7B-8F64C6DA3885.jpeg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0; /* width is 0 to hide the bar and 100% to show it*/
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px; /* -10px to give a little gap and 0 for no gap*/
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 70px;
  font-weight: bold;
  border: 1px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
/* media queries */

@media (max-width: 700px) {
  .navbar {
    /* display: flex; */
    flex-direction: column;
  }
 
    
  .navbar ul li {display: inline-block;
    font-size: 1rem;
  }
.content h1{
    font-size: 3rem;
  }

  .logo {
    width: 100px;
    margin-bottom: 1rem;
  }
}
@media (max-width: 550px){
     .navbar ul li {display: inline-block;
    font-size: 0.8rem;
  }
  .content h1{
    font-size: 2rem;
  }
  .content p{
    font-size: 0.8rem;
  }

}
